    <button class="text-button" id="toggle-help-button"><h1 id="toggle-help-title">?</h1></button>
    <div id="puzzle-help-text" style="display: none;">
      <p>
        <ul>
          <li>The aim of the game is to fill in the board with the missing digits while satisfying the constraints.</li>
          <li>There is only one unique solution which does this.</li> 
        </ul>
      </p>
      <p>
        <h4>Constraints</h4>
        <ul>
          <li>Numbers cannot be repeated within a row or column.</li>
          <li>The icons between the squares are additional inequality constraints.</li> 
        </ul>
      </p>
    </div>