    <div class="size-selector-wrapper">
      <a href="index.php?size=<?php echo $this->board_size + 1;?>"><div class="arrow-up arrow"></div></a>
      <div class="size-selector-value"> <?php echo $this->board_size;?> </div>
      <a href="index.php?size=<?php echo $this->board_size - 1;?>"><div class="arrow-down arrow"></div></a>
    </div>
    <div id="puzzle-solve-button" class="puzzle-controlls-button"> Solve </div>
    <div id="puzzle-clear-button" class="puzzle-controlls-button"> Clear </div>
    <div id="puzzle-generate-button" class="puzzle-controlls-button"> Generate </div>
    <div id="puzzle-check-button" class="puzzle-controlls-button"> Check </div>